
@{
    ViewBag.Title = "Руководство пользователя";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="section-header">
    <h2>@ViewBag.Title</h2>
    <div class="subtitle">информация</div>
</div>

<style>
    .guide__labels{
        list-style: decimal;
    list-style-position: inside;
    }
</style>

<div class="col-md-12">
    <div class="box-typical box-typical-padding">
        
            <p>Работа с:</p>
            <ol class="guide__labels">
                <li><a href="#file-manager">файловый менеджер</a></li>
                <li><a href="#filters">фильтрами</a></li>
                <li><a href="#categories">Категории</a></li>
                <li><a href="#products">Товары</a></li>
                <li><a href="#enum-values">значение фильтров</a></li>
                <li><a href="#pages">страницы</a></li>
                <li><a href="#answer-question">вопрос-ответ</a></li>
                <li><a href="#parts-home">части главной</a></li>
                <li><a href="#reviews-product">отзывы на товар</a></li>
                <li><a href="#orders">заказы</a></li>
                <li><a href="#emails">почты для рассылок</a></li>
                <li><a href="#banners-on-pages">баннеры на страницах</a></li>
                <li><a href="#recommendation">советы</a></li>
                <li><a href="#events">акции</a></li>
                <li><a href="#global-options">глобальные опции</a></li>
                <li><a href="#banners-from-home">баннеры на главной</a></li>
            </ol>
          
    </div>
    <a name="file-manager"></a>
    <div class="card" >
        <div class="card-header card-header-lg">
            <p>Файловый менеджер</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="filters"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Фильтры</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="categories"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Категории</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="products"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Товары</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="enum-values"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>значение фильтров</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="pages"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Страницы</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>

    <a name="answer-question"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Вопрос-ответ</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="parts-home"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Части главной</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="reviews-product"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Отзывы на товар</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="orders"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Заказы</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="emails"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Список почт для рассылки</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="banners-on-pages"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Список банеров на страницах</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="recommendation"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Советы</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="events"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Акции</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="global-options"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Глобальные Опции</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>
    <a name="banners-from-home"></a>
    <div class="card">
        <div class="card-header card-header-lg">
            <p>Банеры на главной</p>
        </div>
        <div class="card-block">
            <p>содержание</p>
        </div>

    </div>

</div>




