<div class="page__slider-container">
    <ul class="page__slider">
        <li class="page__slide">
            <img src="~/Content/img/testslide.png" alt="" />
        </li>
        <li class="page__slide">
            <img src="~/Content/img/testslide.png" alt="" />
        </li>
        <li class="page__slide">
            <img src="~/Content/img/testslide.png" alt="" />
        </li>
        <li class="page__slide">
            <img src="~/Content/img/testslide.png" alt="" />
        </li>
    </ul>
</div>
<script>
            $('.page__slider').bxSlider({
                slideMargin: 5,
                controls: false,
                prevText: '',
                nextText: '',
                pager: true

            });

</script>
