@{var modelFriendlyUrlBase = (FriendlyUrlBaseModel)ViewBag.FriendlyUrlBase; }
<ul class="header__menu">
    @if (Request.Url.AbsolutePath == "/faq")
    {
        <li class="header__menu-item"><a>Актуальные вопросы</a></li>
    }
    else
    {
        <li class="header__menu-item"><a href="@(!string.IsNullOrEmpty(modelFriendlyUrlBase.FaqBaseFriendlyUrl)? modelFriendlyUrlBase.FaqBaseFriendlyUrl: "/faq")">Актуальные вопросы</a></li>
    }
    @if (Request.Url.AbsolutePath == "/kolerovka")
    {
        <li class="header__menu-item"><a>Колеровка</a></li>
    }
    else
    {
        <li class="header__menu-item"><a href="@(!string.IsNullOrEmpty(modelFriendlyUrlBase.ColoringFriendlyUrl)? modelFriendlyUrlBase.ColoringFriendlyUrl:Url.Action("Index","Page",new { id = 2 } ))">Колеровка</a></li>
    }

    @if (Request.Url.AbsolutePath == "/dostavka")
    {
        <li class="header__menu-item"><a>Доставка</a></li>
    }
    else
    {
        <li class="header__menu-item"><a href="@(!string.IsNullOrEmpty(modelFriendlyUrlBase.ShippingFriendlyUrl)? modelFriendlyUrlBase.ShippingFriendlyUrl:Url.Action("Index","Page",new { id = 3 } ))">Доставка</a></li>
    }

    @if ((string)ViewBag.Controller.ToLower() == "event" && (string)ViewBag.Action.ToLower() == "index")
    {
        <li class="header__menu-item"><a>Акции</a></li>
    }
    else
    {
        <li class="header__menu-item"><a href="@(!string.IsNullOrEmpty(modelFriendlyUrlBase.EventBaseFriendlyUrl)? modelFriendlyUrlBase.EventBaseFriendlyUrl :Url.Action("Index","Event"))">Акции</a></li>
    }
    
</ul>

<a href="http://remontlife.com/" target="_blank">
    <div class="header__advertising header__advertising_first"></div>
</a>
<a href="http://decorazza64.com/" target="_blank">
    <div class="header__advertising header__advertising_decorazza"></div>
</a>
