
<ul class="header__menu">
    <li class="header__menu-item"><a href="/faq">Актуальные вопросы</a></li>
    <li class="header__menu-item"><a href="@Url.Action("Index","Page",new { id = 3 } )">Доставка</a></li>
    <li class="header__menu-item"><a href="@Url.Action("Index","Page",new { id = 2 } )" >Колеровка</a></li>
    <li class="header__menu-item"><a href="@Url.Action("Index","Event")">Акции</a></li>
</ul>