<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="PyramidFinalContext" connectionString="metadata=res://*/PyramidFinalContext.csdl|res://*/PyramidFinalContext.ssdl|res://*/PyramidFinalContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C8U924Q;initial catalog=Pyramid;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>