@model List<Pyramid.Entity.EnumValue>

@for (int i = 0; i < Model.Count; i++)
{
    <div class="admin-product-enumvalue">
        <div class="row">
            @Html.Hidden(String.Format("EnumValues[{0}].Id", i), Model[i].Id)
            <div class="col-md-4">
                @Html.Label("Допустимое значение", htmlAttributes: new { @class = "control-label" })

                @Html.DropDownList(String.Format("EnumValues[{0}].Id", i), new SelectList(ViewBag.EnumValuesSelectList, "Value", "Text", Model[i].Id), "Выбрать", new { @class = "form-control" })


            </div>
            <div class="col-md-1">
                <label class="control-label">удалить</label>
                <button type="button" class="tabledit-edit-button btn btn-sm btn-default btn-product-enum-value-delete" style="float: none;" data-ajaxid="@Model[i].Id">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </div>

}