
@{
    ViewBag.Title = "single";
    Layout = "~/Views/Shared/_LayoutOtherPages.cshtml";
}


<div class="single">
    <div class="row">
        <div class="col-md-12">
            <p class="single__title">Минимойка HUTER W165-AR</p>
        </div>
    </div>
    <div class="row row-no-gutter">
        <div class="col-md-6 single-col">
            <div class="single__content">
                <p>Мощность двигателя, Вт: </p>
                <p>Максимальное давление, Бар:</p>
                <p> Производительность подачи воды, л/ч:</p>
                <p>  Температура воды на входе (max), °С:</p>
                <p>   Давление воды на входе (max), Бар:</p>
                <p>  Система намотки сетевого шнура:</p>
                <p>   Вес (без принадлежностей), кг:</p>
                <p>   Гарантия, мес.:</p>
                <p>  Сайт производителя:</p>
                <p>  Страна производитель:</p>
            </div>

            <div class="single__price-block">
                <span class="single__price"><span class="single__big-price"></span>руб/шт.</span>
            </div>
        </div>
        <div class="col-md-6 single-col"></div>
    </div>
</div>
   