@using Pyramid.Helpers

@model SearchResultViewModel<Pyramid.Entity.Review>
    @{ 
            var pagedList = Html.PagedList(Model.PagesInfo.ItemsCount, Model.PagesInfo.ItemsPerPage, Model.PagesInfo.CurrentPage, Model.PagesInfo.DisplayedPages, Url.GetAction(), Url.GetController(), pageNumber => new
            {
                page = pageNumber,
                productid = ViewBag.ProductId
        });
    }
<div class="single__reviews-wrap">
    @foreach (var item in Model.Objects)
    {
        <div class="single__review-item">
            <div class="row">
                <div class="col-md-6">
                    <div class="single__review-rating">
                        @for (int i = 0; i < 5; i++)
                        {
                            if (i < item.Rating)
                            {
                                <div class="star-on"></div>
                            }
                            else
                            {
                                <div class="star-off"></div>
                            }
                        }

                        @*<div class="star-on"></div>
                        <div class="star-on"></div>
                        <div class="star-on"></div>
                        <div class="star-off"></div>*@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single__review-date">@item.DateCreation</div>
                </div>
            </div>
            <div class="single__review-autor">@item.Name</div>
            <p class="single__review-content">
              @item.Content
            </p>
        </div>

    }
    
</div>

<div class="row">
    <div class="col-md-12">
        @pagedList
    </div>
</div>

