<a href="@Url.Action("NewReviews","Review")" class="btn btn-default btn-block">Новые отзывы(не прочитанные)</a>
<a href="@Url.Action("NotApproved","Review")" class="btn btn-default btn-block">Не одобреные отзывы</a>
<a href="@Url.Action("Approved","Review")" class="btn btn-default btn-block">Одобреные отзывы</a>
