@model int

<div class="admin-category__recommendation">
    <div class="form-group">

        @*@Html.Hidden(String.Format("Filters[{0}].Id", Model))*@

        @Html.Label("Совет", htmlAttributes: new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            @Html.DropDownList(String.Format("Recommendations[{0}].Id", Model), new SelectList(ViewBag.RecommendationSelectList, "Value", "Text"), "Выбрать", new { @class = "form-control" })
        </div>
        <div class="col-md-1">

            <button type="button" class="tabledit-edit-button btn btn-sm btn-default js-btn-category-recommendation-delete" style="float: none;" data-ajaxid="@Model">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>

    </div>
</div>

