

.search-item__img{
    max-height:200px;
}
.search{

    &__result{
        margin:20px;
    }
    &__search-item{
        margin-bottom: 20px;
    padding: 20px;
    background: rgba(153, 153, 153, 0.25);
    }
}