@import "../variable";

.category{
  &__title{
    font-family: ProximaNovaSemibold;
    font-size: 28px;
    padding-left: 60px;
    height: 95px;
    line-height: 95px;
  }
  &__sort-list{
    text-align: right;
    margin-right: 60px;
  }
  &__sort-list-item{
    display: inline-block;

    &:first-child{
      color: #cccccc;
    }
    a{
      text-decoration: underline;
    }
  }
  &__sort-list-item +&__sort-list-item{
    margin-left:20px;
  }
  &__sidebar{
    background:@lightGray;
    height: 1020px;
    padding:20px;
  }
  &__filter-block{

  }
  &__filter-title{
      font-size:20px;
      text-transform:uppercase;
      padding-bottom:5px;
      border-bottom:1px solid @border-color ;
  }
  &__filter-block-controls{
      .checkbox label, .radio label{
          padding-left:35px;
      }
  }
  &__input-chekbox{
      width: 16px;
    height: 16px;
    background: #fff!important;
    outline: none;
    margin-left:0!important;
  }
  &__catalog-left-menu{
      background: #fff;
    width: 100%;
    margin: 0;
    padding: 14px 0 14px;
    position: relative;
    display: block;
    >li{
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: block;
        >a{
            width: 100%;
            padding: 4px 46px 4px 20px;
            font-size: 13px;
            line-height: 22px;
            position: relative;
            border-bottom: 1px solid #eee;
            color: #000;
            display: block;
            &:hover{
                    color: #fff;
                background: #66c05d;
                border-bottom: 1px solid #66c05d;
            }
        }
    }
  }

  &__row-subcategory{
      margin-bottom:20px;
  }
}
@media (min-width: 992px) and (max-width:1200px){
    .category__sidebar{
        padding: 15px;
    }
    .category__filter-block-controls .ui-spinner{
        width: 60px;
    }
    .category__sort-list{
        margin-right: 30px;
}
    .category__title{
        padding-left: 30px;
    }
}