

.home-entity{
    &__view-points{
        height:500px;
        //background:#ffd800;
        position:absolute;
        top:0;
        left:0;
        width:100%;
    }
    &__point{
        width:50px;
        height:50px;
        position:absolute;
        background:#b6ff00;
}
    &__img-wrap{
        position:relative;
    }
    &__view-img{
        height: 500px;
    width: 100%;
    }
    &__product,&__category{
        margin-bottom:20px;
    }
}

.row-point-wrap{
    margin-bottom:20px;
}