
@{
    ViewBag.Title = ViewBag.ResultMapping;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="section-header">
    <h2>@ViewBag.Title</h2>

</div>

<a href="@Url.Action("index", "Unloading1C")" class="btn btn-default">Назад</a>