@model ICollection<Pyramid.Entity.Image>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Fine Uploader New/Modern CSS file
====================================================================== -->
<link href="~/Content/css/fine-uploader-new.css" rel="stylesheet">

<!-- Fine Uploader JS file
====================================================================== -->
<script src="~/Scripts/jquery.fine-uploader.js"></script>

<!-- Fine Uploader Thumbnails template w/ customization
====================================================================== -->
<script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Выбрать</div>
            </div>
            <button type="button" id="trigger-upload" class="btn btn-primary">
                <i class="icon-upload icon-white"></i> Отправить файлы
            </button>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>


<style>
    #trigger-upload {
        color: white;
        background-color: #00ABC7;
        font-size: 14px;
        padding: 7px 20px;
        background-image: none;
    }

    #fine-uploader-manual-trigger .qq-upload-button {
        margin-right: 15px;
    }

    #fine-uploader-manual-trigger .buttons {
        width: 36%;
    }

    #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
        width: 60%;
    }
</style>


<!-- End Fine Uploader
====================================================================== -->


<!-- Fine Uploader DOM Element
   ====================================================================== -->
<div id="fine-uploader-manual-trigger" class="file-uploader"></div>





<div class="box-typical box-typical-padding">
    <div class="box-typical-header box-typical-header-bordered">
        <div class="tbl-row">
            <div class="tbl-cell tbl-cell-title">
                <h3>Все картинки</h3>
            </div>
        </div>
    </div>
    <div class="box-typical-body">
        <div class="gallery-grid">
@foreach (var itemImage in Model)
{
    <div class="gallery-col">
        <article class="gallery-item" style="height: 158px;">
            <img class="gallery-picture" src="@itemImage.ServerPathImg" alt="" height="158">
            <div class="gallery-hover-layout">
                <div class="gallery-hover-layout-in">
                    <p class="gallery-item-title">@itemImage.Title</p>
                    @*<p>by Alban Wamigo</p>*@
                    <div class="btn-group">
                        <button type="button" class="btn btn-ajax-edit" data-ajaxid="@itemImage.Id" data-toggle="modal" data-target="#edit-modal">
                            <i class="font-icon font-icon-btn_white glyphicon glyphicon-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-ajax-delete" data-ajaxid="@itemImage.Id">
                            <i class="font-icon font-icon-btn_white glyphicon glyphicon-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </article>
    </div>
}        </div>
    </div>
</div>
<!-- Your code to create an instance of Fine Uploader and bind to the DOM/template
====================================================================== -->
<script>
    $('#fine-uploader-manual-trigger').fineUploader({
        template: 'qq-template-manual-trigger',
        request: {
            endpoint: '/ImageManager/Upload'
        },
        thumbnails: {
            placeholders: {
                waitingPath: '/Content/img-file-uploader/waiting-generic.png',
                notAvailablePath: '/Content/img-file-uploader/not_available-generic.png'
            }
        },
        //autoUpload: true,
        interceptSubmit: false,
        allowXdr:true,
       // multiple: false
    }).on('complete', function (event, id, name, responseJSON) {
        var tmp = responseJSON;
        reloadData();
        setTimeout(function () {
            $(".qq-upload-list-selector").html("");
        }, 3000);
        event.preventDefault();
    });;

    $('#trigger-upload').click(function () {
        $('#fine-uploader-manual-trigger').fineUploader('uploadStoredFiles');
    });

   
</script>

<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Редактирование картинки</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary btn-modal-save">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>

