@import "../variable";

.single-row{
  margin-left: -60px;
  margin-right: -60px;
}
.single-col{
  /*padding-left: 60px;
  padding-right: 60px;*/
}
.single{
  
  padding-left:60px;
  padding-right:60px;
  &__title{
      font-family:ProximaNovaSemibold;
      font-size:26px;
      height:@heightOneLine;
      line-height:@heightOneLine;
  }
  &__price{
      font-size:24px;
      color:#ccc;
  }
  &__big-price{
      font-size:48px;
      font-family:ProximaNovaExtrabld;
      color:#333;
      padding-right: 15px;
  }
  &__additional-values{
          width: 100%;
    //max-width: 600px;
  }
  &__dotted-line-title{
      display:inline;
          padding-right: .3em;
          background:#fff;
  }
  &__dotted-line-content{
      //margin-left: .3em;
    display: block;
  }
  &__add-val-item{
      font-size: 0;
  }
  &__dotted-line-left{
      font-size: 16px;
      display: inline-block;
    width: 65%;
      overflow: visible;
    background: url(/Content/img/dotted-line-dot.gif) 0 100% repeat-x;
  }
  &__dotted-line-right{
      font-size: 16px;
      display: inline-block;
    width: 35%;
  }
  &__in-stock{
      &:before{
          content: "";
        background: url(../img/done.png) no-repeat;
        width: 32px;
        height: 32px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
  }
  &__b-last-additional{
      max-width:600px;
      width:100%;
      margin-top:65px;
      .single__dotted-line-left{
          background:none;
      }
  }
  &__content{
      border-bottom:1px solid #ccc;
      padding-bottom: 10px;
  }
  &__buy{
      display:block;
  }
  &__last-menu{
      margin-bottom:40px;
  }
  &__bottom-menu{
      display:inline-block;
  }
  &__bottom-menu-item{
      display:inline-block;
      height:96px;
      line-height:96px;
      /*&:first-child{
          .single__bottom-menu-link{
              border-left:none;
          }
        
    }*/
  }
  &__bottom-menu-link{
          padding-left: 30px;
    padding-right: 30px;
    //border-left: 1px solid #ccc;
    text-decoration: underline;
    color: #868686;
  }
  &__bottom-menu-item+&__bottom-menu-item{
      .single__bottom-menu-link{
          border-left: 1px solid #ccc;
      }
      
  }
  &__count-input{
      width:144px;
      height:46px;
      padding:0;
      margin:0;
      text-align:center;
      outline:none;
  }
  &__price-block{
      .ui-spinner{

      }
      .ui-spinner-up{
        height: 100%;
        width: 48px;
        border: 0;
        background: #eaeaea;
        .ui-button-icon{
            background:url("/Content/img/single_plus.png")no-repeat;
            background-position: center;
        }
      }
       .ui-spinner-down{
           left: 0;
        height: 100%;
        width: 48px;
        border: 0;
        background: #eaeaea;
        .ui-button-icon{
            background:url(/Content/img/-.png)no-repeat;
            background-position: center;
        }
      }
  }

  &__price-select-text{
      display: inline-block;
    vertical-align: middle;
  }

  &__review-rating{
      height: 20px;
    display: inline-block;
    margin-bottom: 4px;
  }
  &__review-autor{
    
    font-weight: 700;
    color: #333;
  }
  &__review-date{
    font-weight: 100;
    color: #989898;
  }
  &__review-content{
      margin-bottom: 16px;
  }
  &__input{

  }
   &__row-magrin-bottom{
      margin-bottom:40px; 
  }
   &__add-val-item_additional{
       display:none;
   }
   &__add-val-item_open-link{
       .single__dotted-line-title{
           font-size:16px;
           color: #67b23b;
           text-decoration:underline;
           cursor:pointer;
       }
   }
   .bx-wrapper{
       margin:0;
   }
   &__recommend-title{
           font-size: 18px;
    font-weight: bold;
   }
   &__recommend-pic{
           display: block;
    min-height: 70px;
    height:150px;
    background-repeat: no-repeat !important;
    background-size: cover  !important;;
    background-position: 50% 50% !important;
   }
   &__recommend-content{
           margin-bottom: 20px;
   }
   &__recommend-row{
       margin-bottom: 20px;
   }
   &__textarea{
    overflow: hidden;
    max-width: 100%;
    height: 60px;
    max-height: 100px;
    min-width: 100%;
    padding: .5em .6em;
    border: 1px solid rgba(0,0,0,.12);
    background: #FCFCFC;
    border-radius: 2px;
    cursor: text;
   }
   &__input{
           padding: .5em .6em;
    border: 1px solid rgba(0,0,0,.12);
    background: #FCFCFC;
    border-radius: 2px;
   }
}

.single-bxslider__slide{
    height:400px;
        text-align: center;
    display: inline-block;
    line-height: 400px;
    img{
            max-height: 500px;
    display:inline-block!important;
    }
}

.star-on,.star-off{
     display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-position: top left;
    background-repeat: no-repeat;
    cursor:pointer;
}
.star-on{
    background: url(/Content/img/star-yellow.svg)no-repeat;
}
.star-off{
    background: url(/Content/img/star-white.svg)no-repeat;
}
.single-galery-wrap{
    margin-bottom:20px;
}
@media (min-width: 992px) and (max-width:1200px){
    .single{
        padding:0 30px;
    }
    .single__bottom-menu-link{
        padding-left: 25px;
    padding-right: 25px;
    }
}

@media (min-width: 300px) and (max-width:991px){
    .single{
        padding:0 20px;
    }
}

.single-coler{
    background:#f7d50b;
    display: inline-block;
    position: relative;
    padding: 10px 15px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px;
    vertical-align: top;
        padding: 10px 5px!important;
    &:hover,&:focus{
         background:#f7d50b!important;
    }
}