@using Pyramid.Helpers

@model SearchResultViewModel<Pyramid.Entity.Product>
@{
    ViewBag.Title = "Поиск по сайту";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pagedList = Html.PagedList(Model.PagesInfo.ItemsCount, Model.PagesInfo.ItemsPerPage, Model.PagesInfo.CurrentPage, Model.PagesInfo.DisplayedPages, Url.GetAction(), Url.GetController(), pageNumber => new
    {
        page = pageNumber,
        //priority = ViewBag.Priority,
        //sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter,
        //categoryId = ViewBag.CategoryId
    });
}
<div class="search-page">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Objects)
            {
                <div class="col-md-12">
                    <div class="search-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="search-item__img-block">
                                    <img src="@(item.ThumbnailImg.ServerPathImg!=null?item.ThumbnailImg.ServerPathImg:Pyramid.Global.Config.PathNotFilledImage)" alt="" class="search-item__img">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-item__title-block">
                                    <div class="search-item__title">@item.Title</div>
                                    <div class="search-item__item-price">@item.Price</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-item__actions-block">
                                    <div class="search-item__product-deteil"><a href="@Url.Action("Index","Product",new { id=item.Id})" class="search-item__link">Подробней</a></div>
                                </div>
                            </div>
                        </div>
                       
                       
                    </div>
                </div>
            }
            
        </div>
        <div class="row">
            <div class="col-md-12">
                @pagedList
            </div>
        </div>
    </div>
</div>


